<div class="maxHeight d-flex justify-content-center">
  <div>
    <h2 class="d-flex m-2 justify-content-center">Contact Information!</h2>
    <h5>
      Nisha Dudheliya | Mail : nishadudheliya@gmail.com |
      <a href="https://www.linkedin.com/in/nisha-dudheliya-227a4513b">LinkedIn
      </a>
    </h5>
    <h5>
      Hardip Patel | Mail : hardippatel7@gmail.com |
      <a href="https://www.linkedin.com/in/hardip-patel-5ababa106/">LinkedIn
      </a>
    </h5>
    <!-- TODO add your contact information here. -->
    <h5></h5>
    <h5></h5>
    <h5></h5>
    <h5></h5>
  </div>
</div>

